<script data-main="../Scripts/common" src="../Scripts/lib/require.js"></script>
<main id="main" data-bind="template:{ name:$root.temp().name, data:$root.temp().data, afterRender: $root.temp().data.afterRender}"></main>